<% content_for :title, "Editing combine" %>

<h1>Editing combine</h1>

<%= render "form", combine: @combine %>

<br>

<div>
  <%= link_to "Show this combine", @combine %> |
  <%= link_to "Back to combines", combines_path %>
</div>
