<p style="color: green"><%= notice %></p>

<% content_for :title, "Combines" %>

<h1>Combines</h1>

<div id="combines">
  <% @combines.each do |combine| %>
    <%= render combine %>
    <p>
      <%= link_to "Show this combine", combine %>
    </p>
  <% end %>
</div>

<%= link_to "New combine", new_combine_path %>
