<div style="background-color: #f2f2f2;padding-left: 30px;padding-bottom: 10px;">
	<%= link_to "NFL Combine Stats", root_path, style:"font-size: 3vw;" %>
	<div style="font-size: 1vw;">
		Search for any current or historical NFL player (2000 onwards) to view their combine stats.
	</div>
	<div style="font-size: 1vw;">
		Only the top 50 matching results are shown.
	</div>
</div>